@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;1,600&display=swap');

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}

main {
    flex: 1 0 auto;
  }


.flex-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    width: 60vw;
   
}

.card{
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    border: 1px solid #fff;
    border-radius: 30px;
    width: 100%;
    height: 80vh;
    cursor: pointer;
    margin: 10px;
    position: relative;
    flex: 0.5;
    transition: flex 0.9s;
   
}

h3{
    position: absolute;
    font-size: 24px;
    bottom: 20px;
    left: 20px;
    color: black;
    opacity: 0;
}

.card.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.card.active{
    flex: 5;
    
}

.cat{
    background-image: url('../images/cat.jpg');

}

.city{
    background-image: url('../images/city.jpg');
}

.couple{
    background-image: url('../images/couple.jpg');
}

.flowers{
    background-image: url('../images/flowers.jpg');
}

.forest{
    background-image: url('../images/forest.jpg');
}

.winter{
    background-image: url('../images/winter.jpg');
}

footer{
    height: 70px;
}

@media(max-width: 600px){
    .flex-container{
        width: 100vw;
    }

    h2 {
        font-size: 25px;
    }
}

@media(max-width: 550px){
    .card:nth-of-type(5),.card:nth-of-type(6){
        display: none;
    }

}